.active {
  position: relative;
  background: #dbd4cc;
  @apply font-medium;

  &:before {
    content: ' ';
    display: block;
    width: 5px;
    @apply bg-primary-orange;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}