.styContainer {
  margin-top: -4px;
  margin-bottom: -4px;
}
.styRow {
  transition: all 200ms ease;
  background: white;

  &:hover{
    background-color: #d4d4d3 !important;
  }
  &:nth-child(even):hover{
    background-color:#d4d4d3;
  }
  &:nth-child(even) {
    background:#eae9e9;
  }

  td {
    white-space: nowrap;
  }
}
.styBtnClear {
  height: fit-content;
  align-self: center;
}
.styFilter {
  flex-wrap: wrap;

  & > div {
    flex: 1 1 30%;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
.styFilterNone {
  background: white !important;
}
.styFocus {
  border: 1.5px dashed #17c191;
  padding: 0 8px;
}
.styContainer {
  position: relative;
}
@media (max-width: 575px) {
  .styFilter {
    & > div {
      flex: 1 1 47%;
    }
  }
}

@media (max-width: 360px) {
  .styFilter {
    & > div {
      flex: 1 1 100%;
    }
  }
}