.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.12);
  font-family: 'Gotham', var(--default-font);
  @apply text-base text-gray-darkest;
}
.logo {
  width: 200px;
  position: relative;
}
.logoSMBC {
  width: 100px;
}

.active {
  display: flex;
  align-items: center;

  &::before {
    content: ' ';
    position: absolute;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -11px;
    height: 3px;
    border-radius: 2px;
    width: 20px;
    z-index: -1;
    @apply bg-primary-orange ;
    transition: all 250ms ease;
  }
  &:hover::before {
    width: 100%;
  }
}
.navigationDesktop {
  align-items: center;
  height: auto;
  flex-flow: row nowrap;
  display: flex;
  z-index: 40;
  overflow: hidden;
  @apply space-x-4;
  & li {
    position: relative;
  }

  & li:hover::before {
    content: ' ';
    position: absolute;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -11px;
    height: 3px;
    border-radius: 2px;
    width: 20px;
    z-index: -1;
    @apply bg-primary-orange ;
    animation: navigation 250ms forwards;
  }
}

.navigationMobile {
  & li {
    border-bottom: 1px solid #1b1b1b;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    @apply py-2 px-4;
  }
}
.activeMobile {
  @apply text-white;
  &::before {
    content: ' ';
    position: absolute;
    display: block;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: -1;
    @apply bg-primary-orange;
  }
}

@keyframes navigation {
  from { width: 0px;}
  to { width: 100%; }
}

.subnav {
  background: #00482f;
  border-bottom: 3px solid #c4d900;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .logo {
    width: 120px;
  }
}