@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: url('/fonts/Gotham-Book.eot');
  src: url('/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gotham-Book.woff2') format('woff2'),
    url('/fonts/Gotham-Book.woff') format('woff'),
    url('/fonts/GothamBook.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  font-display: swap;

  src: url('/fonts/Gotham-Medium.eot');
  src: url('/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gotham-Medium.woff2') format('woff2'),
    url('/fonts/Gotham-Medium.woff') format('woff'),
    url('/fonts/GothamMedium.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 600;
  font-display: swap;

	src: url('/fonts/Gotham-Bold.eot');
	src: url('/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
	  url('/fonts/Gotham-Bold.woff2') format('woff2'),
  	url('/fonts/Gotham-Bold.woff') format('woff'),
    url('/fonts/GothamBold.ttf') format('truetype');
}
