.breadcrumb {
  display: flex;
  flex-direction: row;
  @apply space-x-2 text-primary-orange my-4;
}
.breadcrumb div {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.breadcrumb div::after {
  position: relative;
  content: '>';
  display: flex;
  font-weight: 500;
  font-size: 12px;
  margin-top: 2px;
  @apply ml-2;
}
.breadcrumb div:last-child::after {
  position: relative;
  content: '';
  display: flex;
}