.button {
  
  display: flex;
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  background: #0077c3;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}