.animate {
  display: flex;
  position: relative;
  margin: 1em 0;
  animation : shimmer 2s infinite;
  background: linear-gradient(to right, #dee0e2 4%, #d4d4d4 25%, #dddfe0 36%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}