@layer base {
  html {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  button {
    outline: 0 !important;
  }
  button:active {
    outline: none !important;
    border: none !important;
  }
  button:focus {
    outline: 0 !important;
  }

  h1 {
    font-weight: 600;
    font-size: 30px
  }
  h2 {
    font-weight: 600;
  }
  h3 {
    font-weight: 600;
  }
  h4 {
    font-weight: 500;
  }
  h5 {
    font-weight: 500;
  }
  h6 {
    font-weight: 500;
  }
  p {
    font-weight: 400;
    margin: 0;
    padding: 0;
    @apply text-base font-sans;
  }
}
