@import "./base.css";
@import "./utilities.css";

:root {
  --default-font: -apple-system, sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Tajawal', var(--default-font);
  color: #1b1b1b;
  font-weight: 300;
}

.bullet-divide-x {
  @apply space-x-0;
  & > * {
    position: relative;
    @apply text-2sm font-medium text-primary-darkblue;
  }
}
.header--underline::after {
  display: block;
  content: ' ';
  margin-top: 8px;
  width: 40px;
  height: 10px;
  border-radius: 3px;
  @apply bg-primary-darkblue;
}