img.aspect-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.h-fit {
  height: fit-content;
}
.image-skeleton {
  width: 100%;
  margin-bottom: 16px;
}
.text-skeleton-1 {
  width: 75%;
  height: 24px;
  margin-bottom: 12px;
  border-radius: 16px;
}
.text-skeleton-2 {
  width: 50%;
  height: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
}