.footer {
  width: 100%;
  background: #E5E1DD;
  display: flex;
  justify-content: center;
  font-family: 'Gotham', var(--default-font);
  @apply text-base;
  border-top: 1px solid #e4ddd4;
}
.logo {
  width: 120px;
  position: relative;
}

.copyright {
  font-size: 14px;
  color: #7c7c7c;
}